<header>
  <h1>T3: Tailored Tourist Tour</h1>
</header>
<div class="container">
  <div class="left-side">
    <div class="research">
      <h2>Research</h2>
      <form [formGroup]="researchForm">
        <mat-form-field>
          <mat-label>Monument</mat-label>
          <input matInput type="text" formControlName="monumentName">
        </mat-form-field>
        <br>
        <!-- <mat-form-field>
          <mat-label>Region</mat-label>
          <input matInput type="text" formControlName="region">
        </mat-form-field>
        <br> -->
        <mat-form-field>
          <mat-label>Period of time</mat-label>
          <input matInput type="text" formControlName="period">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Travel time (in days)</mat-label>
          <input matInput type="number" formControlName="time">
        </mat-form-field>
        <br>
          <mat-checkbox formControlName="needRealTime">Take real travel time into account</mat-checkbox>
        <br><br>
        <button mat-stroked-button [disabled]="!researchForm.valid" (click)="onSubmit()">Search</button>
      </form>
    </div>
    <br><br>
    <h2>Result</h2>
    <div *ngIf="isLoading; else resultContent">
      <mat-spinner [diameter]="60"></mat-spinner>
    </div>
    <ng-template #resultContent>
      <p>{{errorMessage}}</p>
      <ul *ngFor="let item of results">
        <li>{{item.name}}</li>
      </ul>
    </ng-template>
  </div>
  <div class="right-side">
    <app-map [monuments]="updatedMonuments"></app-map>
  </div>
</div>
