header {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}
h1 {
    font-weight: bold;
}
.container {
    height: 100%;
    /* background-color: aqua; */
}
.box {
    padding: 1rem 10rem;
}
mat-form-field {
    width: 15rem;
}