<div id="map"></div>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <title>Map</title>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js" type="text/javascript"></script>
    <link rel="stylesheet" href="./componants/map/css/styleMap.css">
    <link rel="stylesheet" href="./componants/map/css/styleModuleLeaflet.css" />
    <script src="./componants/map/map.js"></script>
</head>
<body>
    <div id="mapContainer"></div>
</body>
</html>

<script>
    const myMap= new Mape();
    var myFirstMarker = myMap.displayMarker(48.8534100, 2.34);
    var secondMarker = myMap.displayMarker(48.8534100, 2.84);
    const points = [
        { lat: 48.8534100, lng: 2.34 },
        { lat: 48.7534100, lng: 2.34 },
        { lat: 48.8534100, lng: 2.44 }
        ];

    myMap.displayLabelOnMarker(myFirstMarker,"tour eiffel");
    myMap.displayLabelOnMarker(secondMarker,"montparnasse");
    myMap.drawPathBetweenPoints(points);
</script> -->